/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* ----------- CSS Resets and Custom variables ------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* -- Primary -- */
    --clr-dark-blue: rgb(48, 42, 75);
    --clr-blue: rgb(69, 84, 225);
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);

    /* -- Neutrals -- */

    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);

    --col-gap: 1rem;
    --col-width: 21rem
}

body,
p,
h1,
h2,
h3 {
    margin: 0;
}

body {
    min-height: 100vh;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    background-color: var(--Off-white);
}

li {
    list-style: none;
    text-transform: capitalize;
}

img,
picture {
    display: block;
    max-width: 100%;
}

p {
    line-height: 1.5;
}

a {
    color: inherit;
    text-decoration: none;
}

/* ------------------------------ */
/* -------    Utilities    ------ */
/* ------------------------------ */

.text-dark-blue {
    color: var(--Dark-grayish-blue);
}

.text-gray {
    color: var(--Grayish-blue);
}


/* -------------------------------- */
/* -------    Grid System    ------ */
/* -------------------------------- */

main {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(auto, 95%) minmax(0, 1fr);
    grid-template-areas: 
    '... main ...'
    '... sidebar ...'
    '... articles ...';
    column-gap: var(--col-gap, 1rem);
}


/* -----  Main-contents ---- */

.main-content {
    grid-area: main;
    display: grid;
}

.title {
    font-size: clamp(2rem, 1.5rem + 2.5vw, 3.2rem);
}

button {
    background-color: var(--Soft-red);
}

button:hover,
button:focus {
    background-color: var(--Very-dark-blue);
}

/* ----- Sidebar ---- */

.sidebar {
    grid-area: sidebar;
    padding: 1rem;
    background-color: var(--Very-dark-blue);
}

.main-heading {
    font-size: 2.5rem;
    color: var(--Soft-orange);
}

.sub-heading {
    color: var(--Off-white);
}

.sub-heading:hover,
.sub-heading:focus {
    color: var(--Soft-orange);
}

/* ----- Sidebar ---- */

.articles {
    grid-area: articles;
}

.articles > * {
    display: grid;
    grid-template-columns: 3fr 11fr;
    align-items: center;
    margin-inline: auto;
}

@media (min-width:35rem) {
    .articles img {
        max-height: 160px;
    }
}

@media (min-width:35rem) and (max-width:65rem) {
    body {
        text-align: center;
    }
                                                /* EXPERIMENTO DE GRID */

    /* EXPERIMENTO NUMBER 1.0 */
    .articles   {
        /* justify-self: center; */
    }

    /* EXPERIMENTO NUMBER 2.0 */
    .articles > *  {
        grid-template-columns: 1fr 30% 70%  1fr;
        justify-content: center;
    }

    .articles > *  {
        grid-template-columns: 1fr 30% 70%  1fr;
        justify-content: center;
    }

    .articles > * > :first-child {
        grid-column: 2;
    }
}

@media (min-width:65rem) {
    main {
        grid-template-columns: minmax(.5rem, 1fr) repeat(3, minmax(0,var(--col-width, 21rem))) minmax(.5rem, 1fr);
        grid-template-areas: 
        '... main main sidebar ...'
        '... main main sidebar ...'
        '... articles articles articles ...';
    }

    .main-content {
        grid-template-columns: 1fr 1fr;
    }

    .main-content picture {
        grid-column: span 2;
    }
     
    .title {
        grid-row: span 2;
    }
    
    .main-content button {
        grid-column: 2;
    }

    .articles {
        
    }
}